* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: azure;
}

a {
    text-decoration: none;
}

/* Container Style */
.container {
    width: 100%;
    padding-right: 13px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

.follow-me {
    display: flex;
    justify-content: start;
}

.follow-me img {
    margin-top: 10px;
    object-fit: cover;
    width: 50px;
    height: auto;
}

.follow-me .fb {
    margin-bottom: 5px;
    width: auto;
    height: 45px;
}


/* Navbar styles */
.navbar {
    background-color: #fff;
    color: #000;
    padding: 25px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

.navbar-brand{
    display: flex;
    justify-content: space-between;
}

.navbar-brand .logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 40px;
}

/* End Navbar styles */


/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #353a40;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sidebar.active {
    left: 0;
}

.sidebar .close-btn {
    background: none;
    border: none;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sidebar-links {
    list-style: none;
    padding: 20px 10px;
}

.sidebar-links li {
    padding: 10px 0;
}

.sidebar-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 3px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.sidebar-links a:hover {
    color: #fff;
    background-color: #AA77FF;
}

/* End Sidebar */


/* Main content */
.content {
    padding-left: 25px;
    padding-top: 90px;
    transition: margin-left 0.3s ease;
}

.content.shifted {
    margin-left: 250px;
}

/* End Main content */
.menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#active {
    color: #AA77FF;
    font-size: 15px;
}

.menu-item {
    padding-left: 40px;
    list-style: none;

}

.menu-item a {
    color: inherit;
    transition: font-size 0.5s;
}

.menu-item a:hover {
    color: #AA77FF;
    font-size: 15px;
}

.contact {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    animation-name: spear;
    animation-duration: 4s;
}

.contact img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    aspect-ratio: 3/2;
}

.hero {
    text-align: center;
    padding: 50px;
    margin-top: 110px;
    animation-name: spear;
    animation-duration: 4s;
}


/* Wrapper untuk tabel */
.table-wrapper {
    width: 90%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 20px 0;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    color: #333;
    white-space: nowrap;
}

.table thead th {
    background-color: #fff;
    color: #000;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: 1px solid #ddd;
}

.table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table thead th:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

@media (max-width: 1600px) {
    .table-wrapper {
        overflow-x: auto;
        width: 100%;
    }

    .table {
        width: 100%;
    }
}

/* end table */


@keyframes spear {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
}

.card {
    /* background-color: white; */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0.5px solid #000;
    border-left: 5px solid #AA77FF;
    align-items: center;
}

.card-body {
    align-items: center;
}

.card-img {
    border-radius: 100%;
    width: 100px;
    height: auto;
}

.form-control {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #000;
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
}

/* Button */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

/* End Btn */

.breadcumb {
    margin-bottom: 20px;
    font-style: bold;
}


/* Footer */
.footer {
    padding: 48px;
    text-align: center;
    background-color: azure;
    margin-top: 20px;
}

.footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-text {
    margin-top: 20px;
}

@media screen and (max-width: 875px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* untuk container */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 855px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1400px;
    }
}

/* untuk container */



/* untuk sidebar */

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        order: 2;
    }

    .sidebar {
        left: 0;
    }

    .content {
        left: 0px;
    }
}